body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #323232;
    margin: 0;
    font-size: 32px;
    color: white;
    margin: 100px 0 0 0;
  }

  #content {
    display: flex;
    justify-content: center;
    position: relative;
}

  table {
    border-collapse: collapse;
    margin: 20px auto;
    border: 1px solid #ccc
  }

  td, tr {
    width: 64px;
    height: 64px;
    cursor: pointer;
  }

  td:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  table {
    border-collapse: collapse;
    border-style: hidden;
  }
  
  table td {
    padding: 1rem;
    border: 5px solid white;
  }

  .winning-line {
    position: absolute;
    height: 5px;
    background-color: red; /* Ändere die Farbe nach Bedarf */
    transform-origin: 0% 50%;
    pointer-events: none; /* Damit die Linie keine Klicks blockiert */
}

#button-div button {
    background-color: #c01010;
    padding: 16px 32px;
    margin: 24px 0;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

#button-div button:hover {
    background-color: #ff2b2b;;

}

